<p id="notice"><%= notice %></p>

<img src="run.png"/>
<h1>Делай то, что должен и будь, что будет</h1>
<h1></h1>
<body>
<div>
  <h1>Дмитрий</h1>
  <h1>Вячеславович</h1>
  <h1>Оксентюк</h1>
  <h1>+375(44)749-64-33</h1>
  <h1>reklama215@gmail.com</h1>
  <h1>Учусь программировать на Ruby</h1>
</div>
</body>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

</table>

<br>